@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
	box-sizing: border-box;
	color: inherit;
}

html,
body {
	margin: 0px;
	background: #222831;
	color: #f1f1f1;

	height: 60vh;
}

input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: textfield;

	font-size: 3.5em;
	text-align: center;

	width: 2em;
}

.input-container {
	margin: 0px 5px;
}

.change-input-value {
	font-size: 2em;
}

.change-input-value:hover {
	cursor: pointer;
}

.annotation {
	font-size: 2.5rem;
	font-weight: bold;

	vertical-align: middle;
	padding: 10px;
}

#control-buttons {
	margin-top: 25px;
}

#control-buttons button {
	font-size: 1.5em;
	color: white;
}
